.wrapper {
    max-width: min(90rem, 90%);
    margin-inline: auto;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 3rem;
}

.wrapper img {
    width: 70%;
    object-fit: contain;
    border-radius: 1rem;
}

.wrapper h2 {
    margin-block: 2rem;
}

.villains {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem; 
    margin-bottom: 2rem;

}

.villains div {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
}

.villains img {
    width: 8rem;
    height: 8rem;
    overflow: hidden;
    object-fit: cover;
    clip-path: circle();
}



